<div class="header">
  <h2 >
    <%= @vacancy.title %>
  </h2>
  <h3>
    Company: <%= link_to @vacancy.company.name, company_path(@vacancy.company) %>
  </h3>
  <h4>
    Speciality: <b><%= @vacancy.speciality.name %></b>
  </h4>
  <p>
    <%= @vacancy.description %>
  </p>
</div>

<div>
  <%= link_to 'Edit', edit_vacancy_path(@vacancy), class: "btn btn-default" %>
  <%= link_to 'Delete', vacancy_path(@vacancy), method: 'delete', class: "btn btn-default" %>
</div>
