<div class="header">
  <h1 >
    <%= @company.name %>
  </h1>
  <h3>
    <%= @company.city.country.country %>,
    <%= @company.city.city %>
  </h3>
  <p>
    <%= @company.description %>
  </p>
</div>

<div>
  <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-default" %>
  <%= link_to 'Delete', company_path(@company), method: 'delete', class: "btn btn-default" %>
</div>
